<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <!--Main Style-->
     <link href="/static/css/accounts_style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">
  
  </head>
  <!--style="background:transparent url('/static/images/cover2.jpg'); background-attachment: fixed;background-blend-mode: darken;background-size:cover;" -->
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/chef"> Q Serve <small>Welcome: {{session['user_name']}}</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/chef">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chef/ready">To Serve</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chef/served">Served Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
    <!-- /.col-lg-3 -->
    <!--Body-->
    <div class=" form-group fitem" id="txt">
    <form class="form-inline" method="POST" action="">
      <div class="form-group">
        <label style="color:crimson;">Customer ID</label>&nbsp &nbsp &nbsp
      <input class="form-control" placeholder="Enter Customer ID" type="text" name="cus_ID" id="text1">
      </div>
      &nbsp &nbsp &nbsp
      <div class="form-group">
          <button type="submit" class="form-control btn btn-primary">SUBMIT</button>
      </div>
    </form>
  </div>
  {% if record %}
  <script>
    document.getElementById('txt').style.display='none'
  </script>
<div>
<table class="table table-bordered table-striped">
<tr>
<th>Name</th>
<th>Quantity</th>
<th>Price</th>
<th>Status</th>
</tr>
{%for r in xrecord%}
<tr>
  <td>{{r.name}}</td>
  <td>{{r.quantity}}</td>
  <td>{{r.price}}</td>
  <td>{{r.status}}</td>
</tr>
{%endfor%}
</table>

</div>

   <div>
     <table class="table table-bordered text-danger">
       <tr>
         <th>Customer ID</th>
         <th>Name</th>
         <th>Bill Amount</th>
       </tr>
       <tr>
         <td>{{record.customer_ID}}</td>
         <td>{{record.name}}</td>
         <td>$ {{record.bill_amount}}</td>
       </tr>
     </table>
   </div>
   <div style="margin-left:45%;">
    <table>
      <button class="btn btn-success btn-lg">Make Payment</button>
    </table>
   </div>
   {%endif%}

    <!-- Footer -->
    
    <footer style="margin-top:35%;" class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    
    </footer>
 
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
