<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome Chef</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">
     </head>
  <!--style="background:transparent url('/static/images/cover2.jpg'); background-attachment: fixed;background-blend-mode: darken;background-size:cover;" -->
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/chef"> Q Serve <small>Welcome: {{session['user_name']}}</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/chef">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chef/ready">To Serve</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chef/served">Served Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
    <!-- /.col-lg-3 -->
    <!--Body-->
    <!--https://youtu.be/jV8B24rSN5o?t=1254-->


  <!-- <div class="box1">
    <form method="post">
       <div class="form-group">
      <label>Table No:</label><input tpye="text" name="tableno">
      <label>Table No:</label><input type="text" name="code">
      <button class= "btn btn-success" type="submit">SUBMIT</button>
    </div>
    </form> -->
    <div class="wrappers">

      <div class="box1">
    <div class="wrapper">
				
			
			
			<div class="w3ls-form">
				<form action="" method="post">
					&nbsp&nbsp<label>TableNo:</label>
					<input type="text" name="text1" placeholder="Table No" required/>
					<label>Code:</label>
					<input type="text"  name="password" placeholder="Code" required />
					
					<input type="submit" value="Log In" />
        </form>
        <h1 class="hj">OR</h1>
        <form action=""method="post">
            <label>Customer ID:</label>
            <input type="text"  name="cus_ID" placeholder="Customer ID" required />
            
            <input type="submit" value="Log In" />
        </form>
			</div>

	
  </div>
  </div>
  <div class="box2">

  </div>
</div>
    <!-- Footer -->
    
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    
    </footer>
 
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
